{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h2 class="badge">Informatics Engineering</h2>
        <h1>halo! Saya IrfanH <span class="gradient-text">4B.</span></h1>
        <p>mahasiswa Teknik Informatika yang fokus pada Web Development dan desain sistem yang efisien .</p>
        <div class="cta-group">
            <a href="/projects" class="btn btn-primary">Lihat Project</a>
            <a href="/contact" class="btn btn-outline">Let's Talk</a>
        </div>
    </div>
</section>
{% endblock %}